In [1]:
import datascience

# datascience version number of last run of this notebook
print(datascience.__version__)

# Let's follow the datascience tutorial from
# http://data8.org/datascience/tutorial.html

0.5.1

In [2]:
from datascience import Table

# HIDDEN

import matplotlib
matplotlib.use('Agg')
from datascience import Table
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
plt.style.use('fivethirtyeight')

In [3]:
t = Table().with_columns(['letter', ['a', 'b', 'c', 'z'],
                          'count', [9, 3, 3, 1],
                          'points', [1, 2, 2, 10]])
print(t)

letter | count | points
a      | 9     | 1
b      | 3     | 2
c      | 3     | 2
z      | 1     | 10

In [4]:
cat sample.csv

x,y,z
1,10,100
2,11,101
3,12,102

In [5]:
Table.read_table('sample.csv')

x    | y    | z
1    | 10   | 100
2    | 11   | 101
3    | 12   | 102

In [6]:
Table.read_table('http://data8.org/textbook/notebooks/sat2014.csv')

State        | Participation Rate | Critical Reading | Math | Writing | Combined
North Dakota | 2.3                | 612              | 620  | 584     | 1816
Illinois     | 4.6                | 599              | 616  | 587     | 1802
Iowa         | 3.1                | 605              | 611  | 578     | 1794
South Dakota | 2.9                | 604              | 609  | 579     | 1792
Minnesota    | 5.9                | 598              | 610  | 578     | 1786
Michigan     | 3.8                | 593              | 610  | 581     | 1784
Wisconsin    | 3.9                | 596              | 608  | 578     | 1782
Missouri     | 4.2                | 595              | 597  | 579     | 1771
Wyoming      | 3.3                | 590              | 599  | 573     | 1762
Kansas       | 5.3                | 591              | 596  | 566     | 1753
... (41 rows omitted)

In [7]:
t = Table().with_columns({'letter': ['a', 'b', 'c', 'z'],
                          'count': [9, 3, 3, 1],
                          'points': [1, 2, 2, 10]})
print(t)

count | points | letter
9     | 1      | a
3     | 2      | b
3     | 2      | c
1     | 10     | z

In [8]:
t

count | points | letter
9     | 1      | a
3     | 2      | b
3     | 2      | c
1     | 10     | z

In [9]:
t.column('letter')

array(['a', 'b', 'c', 'z'],
      dtype='<U1')

In [10]:
t.column(1)

array([ 1,  2,  2, 10])

In [11]:
t['letter']

array(['a', 'b', 'c', 'z'],
      dtype='<U1')

In [12]:
t[1]

array([ 1,  2,  2, 10])

In [13]:
t.rows

Rows(count | points | letter
9     | 1      | a
3     | 2      | b
3     | 2      | c
1     | 10     | z)

In [14]:
t.rows[0]

Row(count=9, points=1, letter='a')

In [15]:
t.row(0)

Row(count=9, points=1, letter='a')

In [17]:
second = t.rows[1]
second

Row(count=3, points=2, letter='b')

In [18]:
second[0]

3

In [19]:
second[1]

2

In [25]:
second.asdict()

OrderedDict([('count', 3), ('points', 2), ('letter', 'b')])

In [26]:
type(second.asdict())

collections.OrderedDict

In [27]:
t.num_rows

4

In [28]:
t.with_column('vowel?', ['yes', 'no', 'no', 'no'])

count | points | letter | vowel?
9     | 1      | a      | yes
3     | 2      | b      | no
3     | 2      | c      | no
1     | 10     | z      | no